.mainDiv { 
    margin-left: 2%;
    margin-right: 2%;
    background-color: #1C1C21;
    max-width: 1920px;
    height: 88px;
}

.header { 
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C1C21;
    max-width: 1280px;
    height: 88px;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
}

.menuItem{
    display: flex;
    align-items: center;
    text-decoration:none;
}

.menuItemActive{
    color: #F2F2F3;
    composes: menuItem;
}