.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 570px);
    gap: calc(var(--offset-base-size) * 4)
}

.shop {
    composes: flex;
    justify-content: flex-end;
}

.totalPrice {
    display: inline;
}

.contentList::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;
}

.contentList::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}

.noIngredient {
    box-sizing: border-box;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #2f2f37;
    min-height: 80px;
    width: 536px;
    height: 48px;
  }
  
  .noBunsTop {
    border-radius: 88px 88px 40px 40px;
  }
  
  .noBunsBottom {
    border-radius: 40px 40px 88px 88px;
  }